@model BloggerWay.Entities.Dtos.UserLoginDto
@{
    Layout = "_UserLoginLayout";
    ViewBag.Title = "Giriş Yap";
}

  <div class="login-box">
  <h2>Yönetim Paneli</h2>
  
 <form id="loginform" asp-controller="Auth" asp-action="Login" method="post">
           <div asp-validation-summary="All" class="text-danger"></div>
    <div class="user-box">
   <div class="form-group"><span asp-validation-for="Email" class="text-danger"></span>
                                                <input  class="form-control"   asp-for="Email" type="email" name="email" required="email"  />
                                                 <label  asp-for="Email"></label>
                                              

    </div></div>
    <div class="user-box">
        <div class="form-group">
    <input  asp-for="Password" class="form-control" type="password" name="password" required="password" />
          <label  asp-for="Password"></label>
    </div></div>
     <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" asp-for="RememberMe" type="checkbox"/>
                                                    <label style="color:#03e9f4" class="custom-control-label" asp-for="RememberMe"></label>
                                                </div>
                                            </div>
    <a   href="#" onclick="myFunction()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
               Giriş Yap 
                 
    </a>           
    <a asp-area="" asp-controller="Home" asp-action="Index">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      anasayfa</a>
    
  </form>

</div>
<script>
            function myFunction() {
                document.getElementById("loginform").submit();
            }
        </script>